*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-top: 0em;
}
:root{
  --Black: #191e29;
  --myBlue: #132d46;
  --theBlue: #023e8a;
  --beauty: #0096c7;
  --light-green: #01c38d;
  --myGrey: #696e79;
  --white: #fff;
  --myGrey: rgb(196, 189, 189);
  --theorange: rgb(199, 180, 76);
}

.backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  z-index: -8; /* Places the video behind the content */
}
.backImg img{
  width: 100%;
}
/* General Header Styles */
header{
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  position: fixed; 
  top: 0;
  z-index: 100; 
}
.header.head-active{
  background-color: #132d46;
  height: 120px;
  position: fixed;
  top: 0;
}

header .logo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
}

header .logo img{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
header .nav{
  width: 80%;
  margin-left: 8%;
}

header .navbar{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0;
  padding: 0;
}
header #close{
  display: none;
}

header .navbar li{
  display: flex;  
  list-style: none;
}
header .navbar li a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 7px;
  border-radius: 10px;
}
header nav ul li a.active {
  background-color: #01c38d;
}
header nav ul li a.active:hover{
  padding: 7px;
  border-bottom: 2px solid transparent;
}
header .menu, #menu-btn {
  display: none; 
}

header nav ul li a:hover {
  color: #191e29;
  border-bottom: 2px solid #191e29;
}
.dropdown{
  display: flex;
}
#dropdownIcon{
  display: none;
}
.dropdown-content {
  display: none;
  flex-direction: column;
  margin-right: 300px;
  position: absolute;
  right: 0px;
  top: 77px;
  left: 380px;
  width: 200px;
  height: 150px;
  background-color: #132d46;
  color: #fff; 
  font-weight: bold;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 101;

} 
#cl {
  display: none; 
} 

.dropdown-content a {
  color: #fff;
  padding: 10px 13px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.dropdown-content a.active{
  color: #fff;
  background-color: #191e29;
}

.dropdown-content a:hover {
  background-color: #023e8a;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
article{
  height: 100%;
  margin-top: 200px ;
}
article .head{
  font-size: 5em;
  text-align: center;
  width: 400px;
  color: #132d46;
  padding: 10px;
}
article .content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
article .content .logoImg{
  height: 600px;
  width: 600px;
  margin-top: 30%;
}
article .content img{
  width: 100%;
  height: 100%;
}
article .content .texts{
  width: 500px;
  text-align: start;
}

footer{
  width: 100%;
  height: 70px;
  margin-top: 200px;
  background-color:#191e29;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h3{
  color: #0096c7;
  font-size: 1em;
}
/* Mobile Styles */
@media (max-width: 480px){
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-top: 0em;
  background-color: #fff;
}
:root{
  --Black: #191e29;
  --myBlue: #132d46;
  --theBlue: #023e8a;
  --beauty: #0096c7;
  --light-green: #01c38d;
  --myGrey: #696e79;
  --white: #fff;
  --myGrey: rgb(196, 189, 189);
  --theorange: rgb(199, 180, 76);
}

.backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: -8; 
}
.backImg img{
  width: 100%;

}
.backImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
header{
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  position: fixed; 
  top: 0;
  z-index: 100;
}
.header.head-active{
background-color: #132d46;
height: 5em;
position: fixed;
top: 0;
}
.header.head-active .menu h4{
color: #000;
}
header .logo {
width: 5em;
height: 4em;
margin-top: 0.5em;
margin-left: 1rem;

}
header .logo img{

width: 100%;
height: 100%;
border-radius: 2px;
}

header .nav{
position: absolute;
top: 0;
left: 0;
height: 100vh;
background-color: beige;
margin: 0;
padding: 0;
display: none;
}
header .navbar{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: start;
gap: 50px;
margin: 0;
padding: 0;
background-color: transparent;
}
header #close{
display: flex;
font-size: 24px;
margin-left: 10em;
margin-top: 30px;
cursor: pointer;
}
header .navbar li{
display: flex;  
list-style: none;
border: 1px solid rgb(214, 214, 214) ;
width: 99%;
}
header .navbar li a{
text-decoration: none;
color: #132d46;
font-weight: 400;
padding: 5px;
border-radius: 10px;
}
header nav ul li a.active {
background-color: transparent;
color: #01c38d;
}
header nav ul li a.active:hover{
padding: 5px;
border-bottom:  transparent;
display: flex;
}

header nav ul li a:hover {
color: #132d46;
border-bottom: 0px solid #fff;
}
.dropdown{
display: flex;
gap: 170px;
width: 100%;

}
#dropdownIcon{
display: flex;
font-size: 18px;
margin-top: 5px;
cursor: pointer;
}
.dropdown-content {
flex-direction: column;
position: absolute;
right: 0px;
top: 12em;
left: 0px;
width: 200px;
height: 270px;
background-color: beige;
color: #fff; 
font-weight: 300;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
z-index: 101;
gap: 40px;
padding-top: 10px;
}
#navdrop {
display: none;
}

#navdrop.show {
display: flex;
} 
#cl {
display: flex; 
border: dashed;
font-size: 18px;
cursor: pointer;
} 
.dropdown-content a {
  color: #696e79;
  padding: 0;
  text-decoration: none;
  display: block;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.dropdown-content a.active{
  color: #284177;
  padding: 2px;
  background-color: beige;
}

.dropdown-content a:hover {
background-color: beige;
color: #696e79;
}
.dropdown:hover .dropdown-content {
display: flex;
}

header .menu {
display: flex; 
justify-content: space-between;
width: 110px;
height: 40px;
margin-left: 130px;
margin-top: 25px;
}
#menu-btn {
display: flex;
cursor: pointer;
font-size: 24px;

}
header .menu h4{
font-size: 1.3em;
color: #473400;
}
.heroTexts{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0096c7;
    font-size: 1.3em;
    margin-top: 35%;
    text-align: center;
}

article{
  height: 100%;
  margin-top: 180px;
}
article .head{
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  color: #132d46;
  padding: 5px;
}
article .content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
article .content .logoImg{
  height: 300px;
  width: 300px;
  margin-top: 500%;
  display: none;
}
article .content img{
  width: 100%;
  height: 100%;
}
article .content .texts{
  width: 300px;
  text-align: start;
  font-size: 14px;
}

footer{
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color:#191e29;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h3{
  color: #0096c7;
  font-size: 0.6em;
  text-align: center;
  
}


}